extends layout

block content
    
  img(src='/images/logo.png' alt='My logo' width='90') 
  a(href="/about") About Me     
  a(href="/projects") Projects     
  a(href="/services") Services     
  a(href="/Contact") Contact Me     
 
 
    
  h1= title
  p Erica Charlton
  br
  img(src='/images/me.jpg' alt='Image of me' width='90')
  br
  a(href="files/resume.pdf") Resume 
  p B.A. Law, B.A. Psychology, Diploma Computer Programmer. Resident of Ontario, English Written and Verbal Advanced, French Written and Verbal Intermediate. 10 years sales and leadership experience. I am a mature student currently attending Centennial College for Health Informatics Technology. My favourite pastimes are biking, gardening and playing sports.
  br
  