extends layout

block content
  h1= title
  p Erica Charlton
  br
  img(src='/images/me.jpg' alt='Image of me' width='90')
  br
  a(href="files/resume.pdf") Resume 
  p B.A. Law, B.A. Psychology, Diploma Computer Programmer. Resident of Ontario, English Written and Verbal Advanced, French Written and Verbal Intermediate. 10 years sales and leadership experience. I am a mature student currently attending Centennial College for Health Informatics Technology. My favourite pastimes are biking, gardening and playing sports.