extends layout

block content
  h1= title
  p echarlto@my.centennialcollege.ca

    form(action='/add_movie', method='POST')
    p
      |          First Name: 
      input(type='text', name='firstname', value='') 
      br
      |          Last Name: 
      input(type='text', name='lastname', value='')
      br
      |          Contact Number: 
      input(type='text', name='number', value='')
      br
      |          Email Address: 
      input(type='text', name='email', value='') 
      br
      |          Message: 
      input(type='text', name='message', value='')
    input(type='submit', value='Submit')