extends layout



block content
  h1= title
  p Welcome to my #{title}
  p My mission is to effectively communicate the benefits of using diverse technology to solve ongiong socio-economic issues.
  p Follow the link below to learn more:
  a(href="/about") About Me 
  br
  a(href="/projects") Projects
  br
  a(href="/services") Services
   br
  a(href="/Contact") Contact



