extends layout

block content
    
  img(src='/images/logo.png' alt='My logo' width='90') 
  a(href="/about") About Me     
  a(href="/projects") Projects     
  a(href="/services") Services     
  a(href="/Contact") Contact Me
  h1= title
  p Mobile app development
  p Web app development
  p Console app development
  p Data Input
  br
  img(src='/images/data.png' alt='Image of me' width='90')